In [9]:
import pandas as pd
import numpy as np

# Reading the Manually Extracted Dataset from SEC's EDGAR's database


https://www.sec.gov/edgar/searchedgar/cik

In [10]:
data = pd.read_excel("Report.xlsx")

In [11]:
print(data)

     Company  Fiscal Year End  Total Revenue  Net Income  Total Assets  \
0  Microsoft       June, 2022         168088       61271        336289
1  Microsoft       June, 2023         198270       72738        364840
2  Microsoft       June, 2024         211915       72361        411976
3      Tesla   December, 2021          53823        5519         62131
4      Tesla   December, 2022          81462       12556         82338
5      Tesla   December, 2023          96773       14997        106618
6      Apple  September, 2021         365817       94680        351002
7      Apple  September, 2022         394328       99803        352755
8      Apple  September, 2023         383285       96995        352583

   Total Liabilities  Cash Flow from Operating Activities
0             177057                                76740
1             198298                                89035
2             205753                                87582
3              30548                                11497
4              36440                                14724
5              43009                                13256
6             287912                               104038
7             302083                               122151
8             290437                               110543

# Calculating Year-by-Year growth rates for Total Revenue and Net Income

In [12]:
data['Revenue Growth (%)'] = data.groupby('Company')['Total Revenue'].pct_change() * 100
data['Net Income Growth (%)'] = data.groupby('Company')['Net Income'].pct_change() * 100

In [13]:
print(data)

     Company  Fiscal Year End  Total Revenue  Net Income  Total Assets  \
0  Microsoft       June, 2022         168088       61271        336289
1  Microsoft       June, 2023         198270       72738        364840
2  Microsoft       June, 2024         211915       72361        411976
3      Tesla   December, 2021          53823        5519         62131
4      Tesla   December, 2022          81462       12556         82338
5      Tesla   December, 2023          96773       14997        106618
6      Apple  September, 2021         365817       94680        351002
7      Apple  September, 2022         394328       99803        352755
8      Apple  September, 2023         383285       96995        352583

   Total Liabilities  Cash Flow from Operating Activities  Revenue Growth (%)  \
0             177057                                76740                 NaN
1             198298                                89035           17.956071
2             205753                                87582            6.882030
3              30548                                11497                 NaN
4              36440                                14724           51.351653
5              43009                                13256           18.795267
6             287912                               104038                 NaN
7             302083                               122151            7.793788
8             290437                               110543           -2.800461

   Net Income Growth (%)
0                    NaN
1              18.715216
2              -0.518299
3                    NaN
4             127.504983
5              19.440905
6                    NaN
7               5.410858
8              -2.813543

# Calculating Year-by-Year growth rates for Total Assets, Total Liabilities and Cash flow from Operations Activities

In [14]:
data['Assets Growth (%)'] = data.groupby('Company')['Total Assets'].pct_change() * 100
data['Liabilities Growth (%)'] = data.groupby('Company')['Total Liabilities'].pct_change() * 100
data['Cash Flow from Operations Growth(%)'] = data.groupby('Company')['Cash Flow from Operating Activities'].pct_change() * 100

In [15]:
print(data)

     Company  Fiscal Year End  Total Revenue  Net Income  Total Assets  \
0  Microsoft       June, 2022         168088       61271        336289
1  Microsoft       June, 2023         198270       72738        364840
2  Microsoft       June, 2024         211915       72361        411976
3      Tesla   December, 2021          53823        5519         62131
4      Tesla   December, 2022          81462       12556         82338
5      Tesla   December, 2023          96773       14997        106618
6      Apple  September, 2021         365817       94680        351002
7      Apple  September, 2022         394328       99803        352755
8      Apple  September, 2023         383285       96995        352583

   Total Liabilities  Cash Flow from Operating Activities  Revenue Growth (%)  \
0             177057                                76740                 NaN
1             198298                                89035           17.956071
2             205753                                87582            6.882030
3              30548                                11497                 NaN
4              36440                                14724           51.351653
5              43009                                13256           18.795267
6             287912                               104038                 NaN
7             302083                               122151            7.793788
8             290437                               110543           -2.800461

   Net Income Growth (%)  Assets Growth (%)  Liabilities Growth (%)  \
0                    NaN                NaN                     NaN
1              18.715216           8.490019               11.996702
2              -0.518299          12.919636                3.759493
3                    NaN                NaN                     NaN
4             127.504983          32.523217               19.287678
5              19.440905          29.488207               18.026894
6                    NaN                NaN                     NaN
7               5.410858           0.499427                4.921990
8              -2.813543          -0.048759               -3.855232

   Cash Flow from Operations Growth(%)
0                                  NaN
1                            16.021631
2                            -1.631942
3                                  NaN
4                            28.068192
5                            -9.970117
6                                  NaN
7                            17.409985
8                            -9.502992

# Imputing Null/NaN values that result from pct_change calculations with 0

In [16]:
data.fillna(0, inplace=True)

In [17]:
print(data)

     Company  Fiscal Year End  Total Revenue  Net Income  Total Assets  \
0  Microsoft       June, 2022         168088       61271        336289
1  Microsoft       June, 2023         198270       72738        364840
2  Microsoft       June, 2024         211915       72361        411976
3      Tesla   December, 2021          53823        5519         62131
4      Tesla   December, 2022          81462       12556         82338
5      Tesla   December, 2023          96773       14997        106618
6      Apple  September, 2021         365817       94680        351002
7      Apple  September, 2022         394328       99803        352755
8      Apple  September, 2023         383285       96995        352583

   Total Liabilities  Cash Flow from Operating Activities  Revenue Growth (%)  \
0             177057                                76740            0.000000
1             198298                                89035           17.956071
2             205753                                87582            6.882030
3              30548                                11497            0.000000
4              36440                                14724           51.351653
5              43009                                13256           18.795267
6             287912                               104038            0.000000
7             302083                               122151            7.793788
8             290437                               110543           -2.800461

   Net Income Growth (%)  Assets Growth (%)  Liabilities Growth (%)  \
0               0.000000           0.000000                0.000000
1              18.715216           8.490019               11.996702
2              -0.518299          12.919636                3.759493
3               0.000000           0.000000                0.000000
4             127.504983          32.523217               19.287678
5              19.440905          29.488207               18.026894
6               0.000000           0.000000                0.000000
7               5.410858           0.499427                4.921990
8              -2.813543          -0.048759               -3.855232

   Cash Flow from Operations Growth(%)
0                             0.000000
1                            16.021631
2                            -1.631942
3                             0.000000
4                            28.068192
5                            -9.970117
6                             0.000000
7                            17.409985
8                            -9.502992

In [18]:
data.to_excel('final_data_report.xlsx', index=False)

# Year-By-Year Average Growth Rates(%) :-
#                             OR
# Overall Growth/Fall rate for Apple, Microsoft and Tesla from last 3 Fiscal Year

In [19]:
summary = data.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean',
    'Assets Growth (%)' : 'mean',
    'Liabilities Growth (%)' : 'mean',
    'Cash Flow from Operations Growth(%)' :'mean'    
}).reset_index()

In [20]:
print('Year-By-Year Average Growth Rates(%) :-')
print('             OR')
print("Overall Growth/Fall rate for Apple, Microsoft and Tesla from Fiscal Year 2021 - 2023")
print(summary)

Year-By-Year Average Growth Rates(%) :-
             OR
Overall Growth/Fall rate for Apple, Microsoft and Tesla from Fiscal Year 2021 - 2023
     Company  Revenue Growth (%)  Net Income Growth (%)  Assets Growth (%)  \
0      Apple            1.664442               0.865772           0.150223
1  Microsoft            8.279367               6.065639           7.136552
2      Tesla           23.382306              48.981963          20.670475

   Liabilities Growth (%)  Cash Flow from Operations Growth(%)
0                0.355586                             2.635664
1                5.252065                             4.796563
2               12.438191                             6.032692

In [21]:
summary.to_excel("report_summary.xlsx")